<h1>Student Roster</h1>
<p>This file will list all students. Find me in app/views/users/index.html.erb</p>


<% @content %>
<p>
<table>
  <tr>
    <th>ID</th>
    <th>Email </th>
    <th>Username</th>
    <th>Teacher ID</th>

    <th></th>
  </tr>
 
<% @users = User.all %>
<% @users.each do |user| %>
    <tr>
      <td> <%= user.id %></td>
      <td> <%= user.email %></td>
      <td><%= link_to user.username, user %></td>
     <td> <%= user.teacher_id %></td>

            <td>  </td>


      <td></td>
 


  </tr>
  <% end %>

  </table>
