<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>

<p>
Admin
<%= link_to "show_index_of_users", users_path %>